html
	head
		title Finn Gaida's Repo
	body
		center
			h1 Finn Gaida's Repo
			img(src="http://i.imgur.com/GYTmumv.png", alt="You're Not Cydia")
			p Please use Cydia to access this repo!
			p Add #[a(href='.') finngaida.de/repo] in Cydia to use this repo
			a(href="cydia://url/https://cydia.saurik.com/api/share#?source=http://finngaida.de/repo") Click here to open Cydia and add this repository